@charset "UTF-8";
/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure, fieldset):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями и видео
 */
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Убираем скачок интерфейса по горизонтали
    при появлении / исчезновении скроллбара
   */
  scrollbar-gutter: stable;
  /**
    Плавный скролл
   */
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Нормализация высоты элемента ссылки при его инспектировании в DevTools
 */
a:where([class]) {
  display: inline-flex;
}

/**
  Курсор-рука при наведении на элемент
 */
button,
label {
  cursor: pointer;
}

/**
  Убирает серую подсветку при тапе на мобильных устройствах (iOS/Android)
 */
button {
  -webkit-tap-highlight-color: transparent;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут fill со значением 'none' или начинается с 'url')
 */
:where([fill]:not([fill=none],
[fill^=url])) {
  fill: currentColor;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут stroke со значением 'none')
 */
:where([stroke]:not([stroke=none],
[stroke^=url])) {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Приведение рамок таблиц в классический 'collapse' вид
 */
:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "Space Grotesk";
  src: url(../fonts/SpaceGrotesk-Medium.woff2) format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Space Grotesk";
  src: url(../fonts/SpaceGrotesk-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
:root {
  --color-dark: #191a23;
  --color-light: #fff;
  --color-gray: #f3f3f3;
  --color-accent: #b9ff66;
  --color-gray-alt: #898989;
  --color-dark-alt: #292a32;
  --border: 1px solid #191a23;
  --border-radius: 0.875rem;
  --border-radius-small: 0.4375rem;
  --border-radius-large: 2.8125rem;
  --shadow: 0 0.3125rem 0 0 var(--color-dark);
  --font-family-base: "Space Grotesk", sans-serif;
  --container-width: 77.5rem;
  --container-padding-x: 1.25rem;
  --section-padding-y: 4.375rem;
  --input-height: 3.6875rem;
  --button-height: 4.25rem;
  --transition-duration: 0.2s;
}
@media (max-width: 47.9375rem) {
  :root {
    --section-padding-y: 1.875rem;
  }
}

body {
  font-size: clamp(1rem, 0.9467821782rem + 0.198019802vw, 1.125rem);
  font-family: var(--font-family-base);
  font-weight: 400;
  line-height: 1.28;
  background-color: var(--color-light);
}

button,
a,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  color: inherit;
  text-decoration: none;
}

h1, h2, h3, h4 {
  font-weight: 500;
}

h1 {
  font-size: clamp(2.6875rem, 2.2351485149rem + 1.6831683168vw, 3.75rem);
}

h2 {
  font-size: clamp(2.25rem, 2.1435643564rem + 0.396039604vw, 2.5rem);
}

h3 {
  font-size: clamp(1.625rem, 1.5185643564rem + 0.396039604vw, 1.875rem);
}

h4 {
  font-size: clamp(1.125rem, 1.0717821782rem + 0.198019802vw, 1.25rem);
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@media (max-width: 47.9375rem) {
  .hidden-mobile {
    display: none !important;
  }
}

@media (min-width: 48rem) {
  .visible-mobile {
    display: none !important;
  }
}

.highlighted-title {
  background-color: var(--color-accent);
  padding-inline: 0.4375rem;
  border-radius: var(--border-radius-small);
}
.highlighted-title--light {
  background-color: var(--color-light);
}

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: var(--button-height);
  padding: 0 2.1875rem;
  border: var(--border);
  border-radius: var(--border-radius);
  background-color: var(--color-dark);
  color: var(--color-light);
  font-size: 1.25rem;
}
@media (hover: hover) {
  .button:hover {
    background-color: var(--color-accent);
    color: var(--color-dark);
  }
}
@media (hover: none) {
  .button:active {
    background-color: var(--color-accent);
    color: var(--color-dark);
  }
}
.button--transparent {
  background-color: transparent;
  color: var(--color-dark);
  border: var(--border);
}
.button--accent {
  background-color: var(--color-accent);
  color: var(--color-dark);
  border: none;
}
@media (hover: hover) {
  .button--accent:hover {
    scale: 104%;
  }
}
@media (hover: none) {
  .button--accent:active {
    scale: 104%;
  }
}

.burger-button {
  padding: 0;
  border: none;
  background-color: transparent;
  width: 3rem;
  height: 1.5rem;
  position: relative;
}
.burger-button::after {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  content: "";
  width: 50%;
  height: 2px;
  border-radius: 5px;
  background-color: #000;
  box-shadow: 0 -0.5rem 0 #000, 0 0.5rem 0 #000;
}

.header {
  position: sticky;
  top: 0;
  z-index: 100;
  margin-top: 3.125rem;
  padding-block: 0.625rem;
  background-color: var(--color-light);
}
@media (max-width: 80rem) {
  .header {
    margin-top: 1.875rem;
  }
}
@media (max-width: 47.9375rem) {
  .header {
    margin-top: 0.9375rem;
  }
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 2.5rem;
       column-gap: 2.5rem;
}
@media (max-width: 63.9375rem) {
  .header__inner {
    -moz-column-gap: 1.875rem;
         column-gap: 1.875rem;
  }
}
.header__menu {
  margin-left: auto;
  font-size: 1.25rem;
}
@media (max-width: 80rem) {
  .header__menu {
    font-size: 1.125rem;
  }
}
@media (max-width: 63.9375rem) {
  .header__menu {
    font-size: 1rem;
  }
}
.header__menu-list {
  display: flex;
  -moz-column-gap: 2.5rem;
       column-gap: 2.5rem;
}
@media (max-width: 80rem) {
  .header__menu-list {
    -moz-column-gap: 1.25rem;
         column-gap: 1.25rem;
  }
}
.header__menu-link {
  position: relative;
  height: 3rem;
  display: inline-flex;
  align-items: center;
  text-align: center;
}
.header__menu-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background-color: currentColor;
  transition-duration: inherit;
}
@media (hover: hover) {
  .header__menu-link:hover::after {
    width: 100%;
  }
}
@media (hover: none) {
  .header__menu-link:active::after {
    width: 100%;
  }
}
@keyframes shrink-button {
  to {
    height: 3rem;
    padding-inline: 1.5625rem;
  }
}
@media (max-width: 63.9375rem) {
  .header__button {
    height: 3rem;
    padding-inline: 1.125rem;
    font-size: 1rem;
  }
}
@media (min-width: 64rem) {
  .header__button {
    animation: shrink-button linear both;
    animation-timeline: scroll(root);
    animation-range: 1.25rem 5rem;
  }
}
.header__logo {
  width: 13.75rem;
  height: 2.25rem;
}
@media (max-width: 63.9375rem) {
  .header__logo {
    width: 7.5rem;
  }
}
@media (max-width: 47.9375rem) {
  .header__logo {
    width: 9rem;
    height: 1.5rem;
  }
}
.header__burger-button {
  left: 0.75rem;
}

.cross-button {
  padding: 0;
  border: none;
  background-color: transparent;
  width: 3rem;
  aspect-ratio: 1;
  position: relative;
  left: 0.75rem;
}
.cross-button::before, .cross-button::after {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  content: "";
  position: absolute;
  width: 60%;
  height: 2px;
  border-radius: 5px;
  rotate: 45deg;
  background-color: var(--color-dark);
}
.cross-button::before {
  rotate: 45deg;
}
.cross-button::after {
  rotate: -45deg;
}

.mobile-overlay {
  margin: 0;
  border: none;
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  padding: 0.875rem 1.25rem;
}
.mobile-overlay__close-button-wrapper {
  display: flex;
  justify-content: end;
}
.mobile-overlay__menu-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 2.5rem;
  min-height: 80vh;
}
.mobile-overlay__menu-link {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 5rem;
  min-height: 1.5rem;
  font-size: 1.25rem;
}

.section {
  padding-block: var(--section-padding-y);
}
.section:first-child {
  padding-top: 3.75rem;
}
@media (max-width: 47.9375rem) {
  .section:first-child {
    padding-top: var(--section-padding-y);
  }
}
.section:last-child {
  padding-bottom: calc(var(--section-padding-y) * 2);
}
@media (max-width: 47.9375rem) {
  .section:last-child {
    padding-bottom: calc(var(--section-padding-y) * 3);
  }
}
.section__header {
  display: flex;
  align-items: center;
  -moz-column-gap: 2.5rem;
       column-gap: 2.5rem;
}
.section__header:not(:last-child) {
  margin-bottom: 5rem;
}
@media (max-width: 47.9375rem) {
  .section__header:not(:last-child) {
    margin-bottom: 2.5rem;
  }
}
@media (max-width: 47.9375rem) {
  .section__header {
    flex-direction: column;
    align-items: center;
    row-gap: 1.875rem;
    text-align: center;
  }
}
.section__title {
  white-space: nowrap;
}
.section__description {
  max-width: 36.25rem;
}
.section__description--short {
  max-width: 20rem;
}
.section--hidden-x {
  overflow-x: hidden;
}

.hero {
  display: flex;
  flex-direction: column;
  row-gap: 6.5rem;
}
@media (max-width: 63.9375rem) {
  .hero {
    row-gap: 3.75rem;
  }
}
.hero__main {
  display: flex;
  justify-content: space-between;
  align-items: start;
  -moz-column-gap: 0.625rem;
       column-gap: 0.625rem;
}
@media (max-width: 47.9375rem) {
  .hero__main {
    flex-direction: column;
    align-items: center;
  }
}
.hero__content {
  display: flex;
  flex-direction: column;
  align-items: start;
  row-gap: 2.1875rem;
}
@media (max-width: 47.9375rem) {
  .hero__content {
    display: contents;
  }
}
.hero__title {
  max-width: 33.1875rem;
}
@media (max-width: 47.9375rem) {
  .hero__title {
    order: -2;
    margin-bottom: 0.625rem;
  }
}
.hero__img-box {
  flex-shrink: 2;
}
@media (max-width: 47.9375rem) {
  .hero__img-box {
    order: -1;
    margin-bottom: 1.25rem;
    width: 22.625rem;
    height: 19.375rem;
  }
}
.hero__description {
  font-size: clamp(1rem, 0.8935643564rem + 0.396039604vw, 1.25rem);
  max-width: 31.125rem;
  line-height: 1.4;
}
@media (max-width: 47.9375rem) {
  .hero__description {
    margin-bottom: 2.5rem;
    line-height: 1.5;
  }
}
.hero__partners-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 2.3125rem;
       column-gap: 2.3125rem;
}
@media (max-width: 63.9375rem) {
  .hero__partners-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    -moz-column-gap: 1.25rem;
         column-gap: 1.25rem;
  }
}
@media (max-width: 30rem) {
  .hero__partners-list {
    --heroPartnersWidthOffsetX: 3.75rem;
    width: calc(100vw + var(--heroPartnersWidthOffsetX) * 2);
    margin-inline: calc((var(--container-padding-x) + var(--heroPartnersWidthOffsetX)) * -1);
    -moz-column-gap: 0;
         column-gap: 0;
  }
}
@media (max-width: 63.9375rem) {
  .hero__partners-item {
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 30rem) {
  .hero__partners-item:nth-child(-n+3) {
    justify-content: end;
  }
}
.hero__button {
  max-width: 24.375rem;
  width: 100%;
}
.hero__partners-image {
  height: 3rem;
  filter: grayscale(1);
}

.services__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.5rem;
}
@media (max-width: 63.9375rem) {
  .services__list {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 47.9375rem) {
  .services__list {
    gap: 1.875rem;
  }
}
.services__list:not(:last-child) {
  margin-bottom: 6.25rem;
}
@media (max-width: 47.9375rem) {
  .services__list:not(:last-child) {
    margin-bottom: 4.375rem;
  }
}

.service-card {
  padding: 3.125rem;
  min-height: 19.375rem;
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 0.625rem;
       column-gap: 0.625rem;
  border: var(--border);
  background-color: var(--color-gray);
  border-radius: var(--border-radius-large);
  box-shadow: var(--shadow);
}
@media (max-width: 47.9375rem) {
  .service-card {
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 1.6875rem;
  }
}
.service-card__body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}
@media (max-width: 47.9375rem) {
  .service-card__body {
    display: contents;
  }
}
.service-card__title {
  display: flex;
  flex-direction: column;
  align-items: start;
  white-space: nowrap;
}
@media (max-width: 47.9375rem) {
  .service-card__title {
    grid-column: -1/1;
  }
}
.service-card__image {
  min-width: 0;
  align-self: center;
}
@media (max-width: 47.9375rem) {
  .service-card__image {
    max-width: 10.3125rem;
  }
}
.service-card__link {
  display: inline-flex;
  align-items: center;
  -moz-column-gap: 0.9375rem;
       column-gap: 0.9375rem;
}
.service-card__link-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5625rem;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: var(--color-dark);
  color: var(--color-accent);
  transition-duration: var(--transition-duration);
}
.service-card__link-wrapper--light {
  background-color: var(--color-light);
  color: var(--color-dark);
}
@media (max-width: 47.9375rem) {
  .service-card__link-wrapper {
    align-self: end;
  }
}
.service-card__link-label {
  font-size: 1.25rem;
  line-height: 1.4;
}
.service-card__link-label--light {
  color: var(--color-light);
}
@media (max-width: 47.9375rem) {
  .service-card__link-label {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    margin: -1px !important;
    border: 0 !important;
    padding: 0 !important;
    white-space: nowrap !important;
    clip-path: inset(100%) !important;
    clip: rect(0 0 0 0) !important;
    overflow: hidden !important;
  }
}
@media (hover: hover) {
  .service-card__link:hover .service-card__link-wrapper {
    transform: scale(1.2);
  }
}
@media (hover: none) {
  .service-card__link:active .service-card__link-wrapper {
    transform: scale(1.2);
  }
}
.service-card--accent-bg {
  background-color: var(--color-accent);
}
.service-card--dark-bg {
  background-color: var(--color-dark);
}

.banner {
  --bannerImageOffsetY: 1.5rem;
  padding-block: var(--bannerImageOffsetY);
}
@media (max-width: 63.9375rem) {
  .banner {
    --bannerImageOffsetY: 0;
  }
}
.banner__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-gray);
  border-radius: var(--border-radius-large);
}
.banner__body {
  max-width: 31.25rem;
  display: flex;
  flex-direction: column;
  row-gap: 1.625rem;
  align-items: start;
  padding: 3.75rem;
}
@media (max-width: 63.9375rem) {
  .banner__body {
    row-gap: 1.25rem;
  }
}
@media (max-width: 47.9375rem) {
  .banner__body {
    padding: 3.125rem;
    max-width: none;
  }
}
.banner__image {
  margin-block: calc(var(--bannerImageOffsetY) * -1);
}
@media (max-width: 63.9375rem) {
  .banner__image {
    min-width: 0;
    flex-shrink: 0.7;
  }
}

.studies {
  --studiesItemPadding: 4rem;
  color: var(--color-light);
}
@media (min-width: 48rem) {
  .studies {
    background-color: var(--color-dark);
    border-radius: var(--border-radius-large);
    padding: 2.5rem;
  }
}
@media (min-width: 80.0625rem) {
  .studies {
    padding: 4.375rem 3.75rem;
  }
}
@media (max-width: 80rem) {
  .studies {
    --studiesItemPadding: 2rem;
  }
}
.studies__list {
  display: grid;
  grid-template-columns: repeat(3, auto);
}
@media (max-width: 47.9375rem) {
  .studies__list {
    -moz-column-gap: 1.25rem;
         column-gap: 1.25rem;
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    width: 100vw;
  }
}
.studies__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 1.25rem;
}
@media (max-width: 47.9375rem) {
  .studies__item {
    background-color: var(--color-dark);
    min-width: 21.875rem;
    padding: 2.625rem 3.125rem;
    border-radius: var(--border-radius-large);
    scroll-snap-align: start;
  }
}
@media (min-width: 48rem) {
  .studies__item:not(:first-child) {
    padding-left: var(--studiesItemPadding);
  }
  .studies__item:not(:last-child) {
    padding-right: var(--studiesItemPadding);
    border-right: 1px solid var(--color-light);
  }
}
.studies__link {
  display: inline-flex;
  align-items: center;
  -moz-column-gap: 0.9375rem;
       column-gap: 0.9375rem;
  color: var(--color-accent);
}
.studies__link-label {
  font-size: 1.25rem;
  line-height: 1.4;
}
@media (hover: hover) {
  .studies__link:hover {
    opacity: 0.7;
  }
}
@media (hover: none) {
  .studies__link:active {
    opacity: 0.7;
  }
}

.process__list {
  display: flex;
  flex-direction: column;
  row-gap: 1.875rem;
  counter-reset: counter 0;
  list-style: none;
}
@media (max-width: 47.9375rem) {
  .process__list {
    row-gap: 1.25rem;
  }
}
.process__step {
  --counterContent: counter(counter);
  counter-increment: counter;
}
.process__step:nth-child(-n+9) {
  --counterContent: "0" counter(counter);
}
.process__summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 1.25rem;
       column-gap: 1.25rem;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.process__title {
  font-size: clamp(1.125rem, 0.8056930693rem + 1.1881188119vw, 1.875rem);
  display: flex;
  align-items: center;
  -moz-column-gap: 1.5625rem;
       column-gap: 1.5625rem;
}
.process__title::before {
  content: var(--counterContent);
  font-size: 2em;
}
@media (max-width: 47.9375rem) {
  .process__title {
    -moz-column-gap: 2.0625rem;
         column-gap: 2.0625rem;
  }
}
.process__details {
  padding: 2.5rem 3.75rem;
  background-color: var(--color-gray);
  border: var(--border);
  border-radius: var(--border-radius-large);
  box-shadow: var(--shadow);
  transition-duration: var(--transition-duration);
}
.process__details[open] {
  background-color: var(--color-accent);
}
.process__details[open] .process__open-button::after {
  scale: 0 1;
  opacity: 0;
}
.process__details[open] .process__open-button::before {
  width: 35%;
}
@media (hover: hover) {
  .process__details:has(.process__summary:hover) {
    background-color: var(--color-accent);
  }
}
@media (max-width: 47.9375rem) {
  .process__details {
    padding: 1.875rem;
  }
}
.process__separator {
  border: none;
  border-top: var(--color-dark);
  margin-block: 1.875rem;
}
@media (max-width: 47.9375rem) {
  .process__separator {
    margin-block: 0.9375rem;
  }
}
.process__open-button {
  height: 3.625rem;
  aspect-ratio: 1;
  border: var(--border);
  border-radius: 50%;
  position: relative;
  background-color: var(--color-gray);
  transition-duration: var(--transition-duration);
}
@media (max-width: 47.9375rem) {
  .process__open-button {
    height: 1.875rem;
  }
}
.process__open-button::before, .process__open-button::after {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  content: "";
  width: 45%;
  height: 10%;
  background-color: var(--color-dark);
  transition-duration: var(--transition-duration);
  border-radius: 2px;
}
.process__open-button::after {
  rotate: 90deg;
  scale: 1 1;
}

.team__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-content: stretch;
  gap: 2.5rem;
}
.team__list:not(:last-child) {
  margin-bottom: 2.5rem;
}
@media (max-width: 80rem) {
  .team__list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 47.9375rem) {
  .team__list {
    display: flex;
    flex-direction: column;
    gap: 1.875rem;
  }
}
.team__button {
  display: block;
  margin-left: auto;
}
@media (max-width: 47.9375rem) {
  .team__button {
    width: 100%;
  }
}

.team-card {
  padding: 2.5rem 2.1875rem;
  border: var(--border);
  box-shadow: var(--shadow);
  border-radius: var(--border-radius-large);
  position: relative;
  height: 100%;
}
@media (max-width: 63.9375rem) {
  .team-card {
    padding-inline: 3.125rem;
  }
}
.team-card__header {
  display: flex;
  align-items: flex-end;
}
.team-card__image:not(:last-child) {
  margin-right: 1.25rem;
}
.team-card__name {
  font-size: clamp(1.125rem, 1.0717821782rem + 0.198019802vw, 1.25rem);
}
.team-card__link {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 2.5rem;
  right: 2.1875rem;
  height: 2.125rem;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: var(--color-dark);
  color: var(--color-accent);
}
@media (hover: hover) {
  .team-card__link:hover {
    opacity: 0.8;
  }
}
@media (hover: none) {
  .team-card__link:active {
    opacity: 0.8;
  }
}
.team-card__social {
  width: 50%;
  aspect-ratio: 1;
}
.team-card__description {
  margin-top: 1.75rem;
  padding-top: 1.75rem;
  border-top: var(--border);
}
@media (max-width: 47.9375rem) {
  .team-card__description {
    margin-top: 1.25rem;
    padding-top: 1.25rem;
  }
}

.testimonials {
  display: flex;
  flex-direction: column;
  row-gap: 7rem;
  padding-block: 5.25rem 3.5rem;
  background-color: var(--color-dark);
  border-radius: var(--border-radius-large);
  overflow-x: hidden;
}
@media (max-width: 63.9375rem) {
  .testimonials {
    row-gap: 3rem;
    padding: 1.875rem 1.875rem 2.875rem;
  }
}
.testimonials__list {
  --testimonialsCardWidth: 37.875rem;
  display: flex;
  -moz-column-gap: 3.125rem;
       column-gap: 3.125rem;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  color: var(--color-light);
}
@media (max-width: 63.9375rem) {
  .testimonials__list {
    --testimonialsCardWidth: 20.625rem;
    -moz-column-gap: 1.875rem;
         column-gap: 1.875rem;
  }
}
@media (min-width: 64rem) {
  .testimonials__list {
    margin-left: calc(var(--testimonialsCardWidth) / 2 * -1);
  }
}
.testimonials__list::-webkit-scrollbar {
  width: 0;
}
.testimonials__item {
  min-width: var(--testimonialsCardWidth);
  scroll-snap-align: start;
}
.testimonials__card {
  --testimonialsCardCornerWidth: 2.3125rem;
  --testimonialsCardCornerOffsetLeft: 3.25rem;
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
}
@media (max-width: 47.9375rem) {
  .testimonials__card {
    row-gap: 2.75rem;
    --testimonialsCardCornerWidth: 2rem;
    --testimonialsCardCornerOffsetLeft: 2.875rem;
  }
}
.testimonials__content {
  padding: 3rem var(--testimonialsCardCornerOffsetLeft) 3.25rem;
  border: 1px solid var(--color-accent);
  border-radius: var(--border-radius-large);
  position: relative;
}
@media (max-width: 63.9375rem) {
  .testimonials__content {
    padding: 1.875rem;
  }
}
.testimonials__content::after {
  content: "";
  position: absolute;
  width: var(--testimonialsCardCornerWidth);
  aspect-ratio: 1;
  rotate: 45deg;
  bottom: 0;
  left: var(--testimonialsCardCornerOffsetLeft);
  translate: 0 50%;
  background-color: var(--color-dark);
  border: 1px solid var(--color-accent);
  clip-path: polygon(100% 0, 0% 100%, 100% 100%);
}
.testimonials__author {
  padding-left: calc(var(--testimonialsCardCornerOffsetLeft) + var(--testimonialsCardCornerWidth) / 2);
}
.testimonials__author-name {
  color: var(--color-accent);
}
.testimonials__actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 35.25rem;
  margin-inline: auto;
}
.testimonials__arrow-button {
  padding: 0;
  border: none;
  background-color: transparent;
  color: var(--color-light);
  padding: 0.75rem;
}
@media (hover: hover) {
  .testimonials__arrow-button:hover {
    color: var(--color-accent);
  }
}
@media (hover: none) {
  .testimonials__arrow-button:active {
    color: var(--color-accent);
  }
}
.testimonials__arrow-button:disabled {
  color: var(--color-gray-alt);
  cursor: not-allowed;
}

.pagination__list {
  display: flex;
}
.pagination__button {
  padding: 0;
  border: none;
  background-color: transparent;
  padding: 0.625rem;
  color: var(--color-light);
}
@media (hover: hover) {
  .pagination__button:hover {
    color: var(--color-accent);
  }
}
@media (hover: none) {
  .pagination__button:active {
    color: var(--color-accent);
  }
}
.pagination__button.is-current {
  color: var(--color-accent);
}

.contact-us {
  position: relative;
  overflow-x: hidden;
}
@media (min-width: 48rem) {
  .contact-us {
    background-color: var(--color-gray);
    border-radius: var(--border-radius-large);
    padding: 3.75rem 5rem 6.25rem;
  }
}
.contact-us::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  translate: -50% -50%;
  height: 40.5rem;
  aspect-ratio: 1;
  background: url(../../images/contact-us.svg) center/contain no-repeat;
}
@media (max-width: 63.9375rem) {
  .contact-us::after {
    display: none;
  }
}
.contact-us__form, .contact-us__body {
  display: flex;
  flex-direction: column;
}
.contact-us__form {
  width: 100%;
}
@media (min-width: 48rem) {
  .contact-us__form {
    row-gap: 2.5rem;
  }
}
@media (min-width: 64rem) {
  .contact-us__form {
    max-width: 34.75rem;
  }
}
@media (max-width: 47.9375rem) {
  .contact-us__radios, .contact-us__body {
    background-color: var(--color-gray);
  }
}
.contact-us__body {
  row-gap: 1.5625rem;
}
@media (max-width: 47.9375rem) {
  .contact-us__body {
    padding: 0 1.875rem 3.125rem;
    border-bottom-left-radius: var(--border-radius-large);
    border-bottom-right-radius: var(--border-radius-large);
    margin-bottom: 1.875rem;
    row-gap: 1.25rem;
  }
}
.contact-us__radios {
  display: flex;
  -moz-column-gap: 2.1875rem;
       column-gap: 2.1875rem;
}
@media (max-width: 47.9375rem) {
  .contact-us__radios {
    justify-content: center;
    -moz-column-gap: 3.75rem;
         column-gap: 3.75rem;
    padding: 2.5rem 1.875rem 2.875rem;
    border-top-left-radius: var(--border-radius-large);
    border-top-right-radius: var(--border-radius-large);
  }
}
.contact-us__radios-label {
  font-size: clamp(0.875rem, 0.8217821782rem + 0.198019802vw, 1rem);
  display: flex;
  align-items: center;
  -moz-column-gap: 0.875rem;
       column-gap: 0.875rem;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  position: relative;
}
@media (hover: hover) {
  .contact-us__radios-label:hover:not(:has(.contact-us__radios-button:checked)) {
    opacity: 0.6;
  }
}
@media (hover: none) {
  .contact-us__radios-label:active:not(:has(.contact-us__radios-button:checked)) {
    opacity: 0.6;
  }
}
.contact-us__radios-button:not(:checked) + .contact-us__radios-emulator::after {
  opacity: 0;
}
.contact-us__radios-emulator {
  width: 1.75rem;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: var(--color-light);
  border: var(--border);
  position: relative;
}
.contact-us__radios-emulator::after {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  content: "";
  width: 60%;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: var(--color-accent);
  transition-duration: var(--transition-duration);
}

.field {
  display: flex;
  flex-direction: column;
  row-gap: 0.3125rem;
}
@media (max-width: 47.9375rem) {
  .field {
    row-gap: 0.625rem;
  }
}
.field__input, .field__textarea {
  border: var(--border);
  border-radius: var(--border-radius);
  padding: 1.125rem 1.875rem;
}
@media (max-width: 47.9375rem) {
  .field__input, .field__textarea {
    padding-inline: 1.25rem;
  }
}
.field__input::-moz-placeholder, .field__textarea::-moz-placeholder {
  color: var(--color-gray-alt);
}
.field__input::placeholder, .field__textarea::placeholder {
  color: var(--color-gray-alt);
}
@media (hover: hover) {
  .field__input:hover, .field__textarea:hover {
    background-color: var(--color-gray);
  }
}
@media (hover: none) {
  .field__input:active, .field__textarea:active {
    background-color: var(--color-gray);
  }
}
.field__textarea {
  min-height: 11.875rem;
  resize: vertical;
  transition-duration: 0s;
}
@media (max-width: 47.9375rem) {
  .field__textarea {
    min-height: 8.25rem;
  }
}

.footer {
  padding: 3.4375rem 3.75rem 3.125rem;
  background-color: var(--color-dark);
  color: var(--color-light);
}
@media (min-width: 48rem) {
  .footer {
    border-radius: var(--border-radius-large) var(--border-radius-large) 0 0;
  }
}
@media (max-width: 47.9375rem) {
  .footer {
    padding: 3.125rem 1.25rem 1.875rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2.3125rem;
  }
}
.footer__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2.5rem;
}
.footer__header:not(:last-child) {
  padding-bottom: 4.125rem;
}
@media (max-width: 63.9375rem) {
  .footer__header:not(:last-child) {
    padding-bottom: 2.3125rem;
  }
}
@media (max-width: 63.9375rem) {
  .footer__header {
    flex-direction: column;
  }
}
@media (max-width: 47.9375rem) {
  .footer__header {
    display: contents;
  }
}
.footer__logo {
  width: 11.25rem;
  height: 1.875rem;
  filter: invert(1);
}
@media (max-width: 63.9375rem) {
  .footer__logo {
    width: 9rem;
    height: 1.5rem;
  }
}
.footer__menu-list {
  display: flex;
  -moz-column-gap: 2.5rem;
       column-gap: 2.5rem;
  text-align: center;
}
@media (max-width: 63.9375rem) {
  .footer__menu-list {
    -moz-column-gap: 1.25rem;
         column-gap: 1.25rem;
  }
}
@media (max-width: 47.9375rem) {
  .footer__menu-list {
    flex-direction: column;
    row-gap: 0.9375rem;
  }
}
.footer__socials {
  display: flex;
  -moz-column-gap: 1.25rem;
       column-gap: 1.25rem;
}
.footer__socials-image {
  width: 1.875rem;
  aspect-ratio: 1;
}
@media (max-width: 47.9375rem) {
  .footer__socials {
    order: 1;
  }
}
@media (hover: hover) {
  .footer__socials-link:hover {
    opacity: 0.7;
  }
}
@media (hover: none) {
  .footer__socials-link:active {
    opacity: 0.7;
  }
}
.footer__link {
  text-decoration: underline;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}
@media (hover: hover) {
  .footer__link:hover {
    opacity: 0.7;
  }
}
@media (hover: none) {
  .footer__link:active {
    opacity: 0.7;
  }
}
.footer__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
@media (max-width: 47.9375rem) {
  .footer__body {
    flex-direction: column;
    row-gap: 2.3125rem;
  }
}
@media (min-width: 48rem) {
  .footer__body:not(:last-child) {
    margin-bottom: 2.3125rem;
  }
}
@media (min-width: 64rem) {
  .footer__body:not(:last-child) {
    margin-bottom: 3.125rem;
  }
}
.footer__contact-us {
  display: flex;
  flex-direction: column;
  align-items: start;
  row-gap: 1.6875rem;
  max-width: 20.75rem;
}
.footer__contact-us-text {
  font-size: clamp(1.125rem, 1.0717821782rem + 0.198019802vw, 1.25rem);
  font-weight: 500;
  color: var(--color-dark);
}
@media (max-width: 47.9375rem) {
  .footer__contact-us {
    align-items: center;
    text-align: center;
  }
}
.footer__address-list {
  display: flex;
  flex-direction: column;
  row-gap: 1.25rem;
}
@media (hover: hover) {
  .footer__address-item a:hover {
    opacity: 0.7;
  }
}
@media (hover: none) {
  .footer__address-item a:active {
    opacity: 0.7;
  }
}
.footer__form {
  padding: 3.625rem 2.5rem;
  background-color: var(--color-dark-alt);
  border-radius: var(--border-radius);
  display: flex;
  -moz-column-gap: 1.25rem;
       column-gap: 1.25rem;
  width: 100%;
  max-width: 39.625rem;
}
@media (max-width: 63.9375rem) {
  .footer__form {
    flex-direction: column;
    row-gap: 1.375rem;
    padding: 1.875rem;
  }
}
@media (max-width: 47.9375rem) {
  .footer__form {
    max-width: 24.375rem;
    width: 100%;
  }
}
.footer__input {
  border: 1px solid var(--color-light);
  border-radius: var(--border-radius);
  padding: 1.375rem 2.1875rem;
  background-color: transparent;
  color: var(--color-light);
}
.footer__input::-moz-placeholder {
  color: var(--color-light);
}
.footer__input::placeholder {
  color: var(--color-light);
}
.footer__copyright {
  padding-top: 3.125rem;
  border-top: 1px solid var(--color-light);
  display: flex;
  -moz-column-gap: 2.5rem;
       column-gap: 2.5rem;
}
@media (max-width: 63.9375rem) {
  .footer__copyright {
    padding-top: 2.3125rem;
  }
}
@media (max-width: 47.9375rem) {
  .footer__copyright {
    padding-top: 2.3125rem;
    order: 2;
    flex-direction: column;
    align-items: center;
    row-gap: 0.9375rem;
    line-height: 1.5;
    width: 100%;
  }
}/*# sourceMappingURL=styles.css.map */